h1 {
    color:black;
    margin-left: 30px;
}

.inTheRed
{
    border-color: red;
    border-width: 10px;
}

.input-group{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
}

.midLabel {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-group {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn.btn-secondary.selected {
    background-color: blue;
}

.btn.btn-secondary.notselected {
    background-color: brown
}

.list-group {
    margin-left: 50px;
    width: 75%;
}


